<!-- <div style="height: 200px"></div> -->
<div *ngIf="!loaded">
  <app-loader></app-loader>
</div>
<div *ngIf="loaded">

  <div style="height: 50px; background-color: #3b3b3b">
    <div class="container"></div>
  </div>
  <div style="margin-top: 0px" class="pw1">
    <div class="container" style="background-color: white">
      <div class="row">
        <div class="col-12 col-lg-9">
          <div class="py-3 mt-2 text-center" *ngIf="trandcontent?.videos[0];else img">
            <video controls class="video">
              <source [src]="trandcontent?.videos[0]?.video">
            </video>
          </div>
          <ng-template class="py-3 mt-2 text-center w-100" #img>
            
            <img [src]="trandcontent?.images[0]?.image" class="mainImg img-fluid w-100" />
            <div>
              <!-- <small class="my-3"> احمد فتوح</small> -->
            </div>
          </ng-template>
          <div class="bg-light py-3">
            <div class="h2 mt-2 p-2" style="color: black;">
              {{trandcontent?.title}}</div>
            <small class="my-3"> {{trandcontent?.created_at}}</small>
          </div>
  
          <div class="bg-light p-3 mt-2">          
            
            <div [innerHTML]="trandcontent?.content" style="overflow-wrap: break-word;">
  
            </div>
            <!-- <div class="mt-5">
              <a class="btn btn-dark btn-sm m-2" href="#" role="button">احمد فتوح
              </a>
              <a class="btn btn-dark btn-sm m-2" href="#" role="button">احمد فتوح
              </a>
              <a class="btn btn-dark btn-sm m-2" href="#" role="button">احمد فتوح
              </a>
              <a class="btn btn-dark btn-sm m-2" href="#" role="button">احمد فتوح
              </a>
              <a class="btn btn-dark btn-sm m-2" href="#" role="button">احمد فتوح
              </a>
              <a class="btn btn-dark btn-sm m-2" href="#" role="button">احمد فتوح
              </a>
            </div> -->
  
            <div class="mt-5">
              <div class="titel mt-2 p-2" style="background-color: red; color: aliceblue">
                الموضوعات المتعلقة
              </div>
              <div class="card mb-3 mt-3" *ngFor="let trend of relateTrends">
                <div class="row g-0">
                  <div class="col-md-4 d-flex">
                    <div *ngIf="trend?.videos[0];else img" class="m-auto">
                      <video controls class="related-video">
                        <source [src]="trend?.videos[0]?.video">
                      </video>
                    </div>
                    <ng-template #img>
  
                      <img [src]="trend?.images[0]?.image" class="img-fluid m-auto" alt="..." />
                    </ng-template>
                  </div>
  
                  <div class="col-md-8">
                    <div class="card-body" routerLink="/Trends/{{trend.slug}}/{{trend.id}}" style="cursor: pointer;">
                      <h5 class="card-title" style="color: rgb(255, 0, 0); font-size: large">
                        {{trend.title |maxLenght:120}}
                      </h5>
                      <p class="card-text">
                        {{trend.subtitle |maxLenght:200}}
                      </p>
                      <p class="card-text">
                        <small class="text-muted">
                          {{trend.created_at}}
                        </small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-2 col-sm-12 col-12">
          <div class="titel mt-2 p-2" style="background-color: #96225c; color: aliceblue;">
            أخبار لحظة بلحظة </div>
         
            <marquee class="news-scroll marquee" behavior="scroll" direction="up"
            Scrollamount=3 onbounce="4" 
            onmouseover="this.stop();" onmouseout="this.start();">
            <div *ngFor="let item of last_news" style="margin-bottom: 50px;">
              <a href="" routerLink="/News/{{item.slug}}" >
                <p>
                  {{item.title}}
                </p>
                <!-- <small class="text-muted">date </small> -->
              </a>
    
             
            </div>
           
          </marquee>
          
         
  
          <div class="titel mt-2 p-2" style="background-color: #96225c; color: aliceblue;">الاكثر قراءة</div>

        <div *ngFor="let article of more_articles_Read">
          <h3 class="p-2 mt-2 "  routerLink="/News/{{article.slug}}"
          style="background-color: #ddd;color: black;cursor: pointer;">
            {{article.title |maxLenght:55}}
          </h3>
        </div>
  
        </div>
  
  
     
  
  </div>
</div>

