<app-navbar></app-navbar>
<!-- <div style="height: 200px"></div> -->
<div style="height: 50px; background-color: #3b3b3b">
  <div class="container"></div>
</div>
<div style="margin-top: 0px" class="pw1">
  <div class="container" style="background-color: white">
    <div class="row">
      <div class="col-9">
        <div class=" py-3 mt-2 text-center">
          <img [src]="trandcontent?.images[0]?.image" class="mainImg" height="350px" width="800px" />
          <div>
            <!-- <small class="my-3"> احمد فتوح</small> -->
          </div>
        </div>
        <div class="bg-light py-3">
          <div class="h2 mt-2 p-2" style="color: red">
            {{trandcontent?.title}}</div>
          <small class="my-3"> {{trandcontent?.updated_at}}</small>
        </div>
        
        <div class="bg-light p-3 mt-2">
          <!-- <div class="title">احمد طارق</div> -->
          <div class="h4" style="height: 60px;color:red">
            <!-- {{trandcontent.slug}} -->
          </div>
          <!-- <p class="h5">

            {{news.content}}
          </p> -->
          <div [innerHTML]="trandcontent?.content">

          </div>
          <div class="mt-5">
            <a class="btn btn-dark btn-sm m-2" href="#" role="button">احمد فتوح
            </a>
            <a class="btn btn-dark btn-sm m-2" href="#" role="button">احمد فتوح
            </a>
            <a class="btn btn-dark btn-sm m-2" href="#" role="button">احمد فتوح
            </a>
            <a class="btn btn-dark btn-sm m-2" href="#" role="button">احمد فتوح
            </a>
            <a class="btn btn-dark btn-sm m-2" href="#" role="button">احمد فتوح
            </a>
            <a class="btn btn-dark btn-sm m-2" href="#" role="button">احمد فتوح
            </a>
          </div>

          <div class="mt-5">
            <div class="titel mt-2 p-2" style="background-color: red; color: aliceblue">
              الموضوعات المتعلقة
            </div>
            <div class="card mb-3 mt-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../../../../../assets/temp-imgs/important/3.jpg" class="img-fluid m-2" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(255, 0, 0); font-size: large">
                      وفاة عاصم حماد مدرب يد الأهلى السابق
                    </h5>
                    <p class="card-text">
                      الاهلى يستعد لمحطة جديدة في الدوري بمواجهة المصرى
                      البورسعيدى بالجولة الثالثة عشرة لمسابقة الدوري المصرى
                      والمقرر لها الخميس المقبل على ستاد برج العرب بالاسكندرية
                    </p>
                    <p class="card-text">
                      <small class="text-muted">
                        الجمعة، 06 يناير 2023 01:20 م
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 mt-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../../../../../assets/temp-imgs/important/3.jpg" class="img-fluid m-2" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(255, 0, 0); font-size: large">
                      وفاة عاصم حماد مدرب يد الأهلى السابق
                    </h5>
                    <p class="card-text">
                      الاهلى يستعد لمحطة جديدة في الدوري بمواجهة المصرى
                      البورسعيدى بالجولة الثالثة عشرة لمسابقة الدوري المصرى
                      والمقرر لها الخميس المقبل على ستاد برج العرب بالاسكندرية
                    </p>
                    <p class="card-text">
                      <small class="text-muted">
                        الجمعة، 06 يناير 2023 01:20 م
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 mt-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../../../../../assets/temp-imgs/important/3.jpg" class="img-fluid m-2" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(255, 0, 0); font-size: large">
                      وفاة عاصم حماد مدرب يد الأهلى السابق
                    </h5>
                    <p class="card-text">
                      الاهلى يستعد لمحطة جديدة في الدوري بمواجهة المصرى
                      البورسعيدى بالجولة الثالثة عشرة لمسابقة الدوري المصرى
                      والمقرر لها الخميس المقبل على ستاد برج العرب بالاسكندرية
                    </p>
                    <p class="card-text">
                      <small class="text-muted">
                        الجمعة، 06 يناير 2023 01:20 م
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 mt-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../../../../../assets/temp-imgs/important/3.jpg" class="img-fluid m-2" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(255, 0, 0); font-size: large">
                      وفاة عاصم حماد مدرب يد الأهلى السابق
                    </h5>
                    <p class="card-text">
                      الاهلى يستعد لمحطة جديدة في الدوري بمواجهة المصرى
                      البورسعيدى بالجولة الثالثة عشرة لمسابقة الدوري المصرى
                      والمقرر لها الخميس المقبل على ستاد برج العرب بالاسكندرية
                    </p>
                    <p class="card-text">
                      <small class="text-muted">
                        الجمعة، 06 يناير 2023 01:20 م
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 mt-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../../../../../assets/temp-imgs/important/3.jpg" class="img-fluid m-2" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(255, 0, 0); font-size: large">
                      وفاة عاصم حماد مدرب يد الأهلى السابق
                    </h5>
                    <p class="card-text">
                      الاهلى يستعد لمحطة جديدة في الدوري بمواجهة المصرى
                      البورسعيدى بالجولة الثالثة عشرة لمسابقة الدوري المصرى
                      والمقرر لها الخميس المقبل على ستاد برج العرب بالاسكندرية
                    </p>
                    <p class="card-text">
                      <small class="text-muted">
                        الجمعة، 06 يناير 2023 01:20 م
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="titel mt-2 p-2" style="background-color: crimson; color: aliceblue">
          Trending لحظة بلحظه
        </div>
        <div>
          <h3 class="p-2 mt-2" style="background-color: darkgray" *ngFor="let item of Trands">
            {{item.title}}
          </h3>
        </div>

      </div>
</div>
</div>
</div>
      <app-footer></app-footer>