<div class="about container mt-4">


  <div class="row">
    <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100"> <img
        src="assets/icons/about.jpg" class="img-fluid" alt=""></div>
    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
      <h3>لحظة بلحظة</h3>
      <p class="fst-italic"> صحيفة إخبارية إلكترونية يومية شاملة، تصدر عن الشركة "المصرية للصحافة والنشر والإعلان"، وهى
        الشركة الناشرة لصحيفة
      </p>
      <div class="my-3">
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <p><i class="fas fa-home me-3"></i> القاهرة, مصر</p>
      <p>
        <i class="fas fa-envelope me-3"></i>
        info@example.com
      </p>
      <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
      <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
    </div>
  </div>

</div>







<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <!-- <h2 class="heading-section">للتواصل معنا</h2> -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="wrapper">
          <div class="row no-gutters">
            <div class="col-md-7 d-flex align-items-stretch">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4">تواصل معنا</h3>
                <div id="form-message-warning" class="mb-4"></div>
                <div id="form-message-success" class="mb-4">
                  Your message was sent, thank you!
                </div>
                <form method="POST" id="contactForm" name="contactForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="الاسم">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="الاميل">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="الموضوع">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea name="message" class="form-control" id="message" cols="30" rows="7"
                          placeholder="الرسالة"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="submit" value="ارسال الرسالة" class="btn btn-primary">
                        <div class="submitting"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5 d-flex align-items-stretch">
              <div class="info-wrap bg-primary w-100 p-lg-5 p-4">
                <h3 class="mb-4 mt-md-4">تواصل معنا</h3>
                <div class="dbox w-100 d-flex align-items-start">
                  <div class="icon d-flex align-items-center justify-content-center mx-2">
                    <span class="fa fa-map-marker"></span>
                  </div>
                  <div class="text pl-3">
                    <p><span>العنوان:</span> القاهره فيصل الحي السابع شقه 12</p>
                  </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                  <div class="icon d-flex align-items-center justify-content-center mx-2">
                    <span class="fa fa-phone"></span>
                  </div>
                  <div class="text pl-3">
                    <p><span>رقم الهاتف:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                  </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                  <div class="icon d-flex align-items-center justify-content-center mx-2">
                    <span class="fa fa-paper-plane"></span>
                  </div>
                  <div class="text pl-3">
                    <p><span>الاميل:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                  </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                  <div class="icon d-flex align-items-center justify-content-center mx-2">
                    <span class="fa fa-globe"></span>
                  </div>
                  <div class="text pl-3">
                    <p><span>الموقع الالكتروني</span> <a href="#">yoursite.com</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>