<div *ngIf="!loaded">
  <app-loader></app-loader>
</div>
<div *ngIf="loaded">

  <!-- <div style="height: 50px; background-color: #3b3b3b">
    <div ></div>
  </div> -->
  <article style="margin-top: 0px" class="pw1">
    <div  style="background-color: white">
      <div class="row">
        <div class="col-12 col-lg-9">
          <div class="bg-light py-3">
            <h1 class="h2 mt-2 p-2" style="color: #96225c;">
              {{selected?.title}}</h1>
            <small class="my-3 p-2"> {{selected?.created_at}}</small>
          </div>
          <div class="bg-light py-3 mt-2">
            <div class="mx-auto" style="max-width: max-content;">
              <img src="{{selected?.image}}" [alt]="selected?.title" [title]="selected?.title" loading="lazy" class="img-thumbnail mainImg" height="600px" width="800px" />
              <div >
                <p class="pt-2 text-center">{{selected.image_describe}}</p>
                <p class="mb-2 text-end" style="color:#96225c">
                  <i class="fa-solid fa-user-pen"></i>
                  ({{selected?.editor_name}})</p>
              </div>
            </div>            
          </div>
          <div class="bg-light p-3 mt-2">

            <div [innerHTML]="selected?.content" class="content">

            </div>
            <div class="mt-5" *ngIf=" selected.tags?.length>0">
              <a *ngFor="let item of selected.tags">

                <a class="btn btn-dark btn-sm m-2" *ngIf="item" routerLink="/search/{{item}}">
                  {{item}}
                </a>
              </a>

            </div>
            <div>

              <share-buttons theme="material-dark" [show]="3" 
              [include]="['facebook','twitter','whatsapp']" [url]="carrenturl" 
              [title]="selected?.title" [autoSetMeta]="true"  ></share-buttons>
            </div>
            
            <div class="mt-5">
              <div class="titel mt-2 p-2" style="background-color: #96225c; color: #fff">
                الموضوعات المتعلقة
              </div>
              <div class="card mb-3 mt-3" *ngFor="let item of news" [routerLink]="['/News/',item.slug]">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img [src]="item.image" [alt]="item.title | maxLenght:30" [title]="item.title | maxLenght:30" loading="lazy" class="border-radius-6 img-fluid w-100" style="height: 120px;" />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      
                      <h5 class="card-title" style="color: #96225c; font-size: large;font-weight: 600;">
                        {{item.title |maxLenght:90}}
                      </h5>

                      <p class="card-text">
                        <small class="text-muted">
                          <!-- <img src="../../../assets/icons/user-pen-solid.svg" alt="created_at" > -->
                          {{item.created_at}} </small>
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-12 col-12">
          <div class="titel border-radius-6 p-2" style="background-color: #96225c; color: aliceblue;"
          *ngIf="Trends.length>0">تريندات لحظة بلحظة </div>
          <div *ngFor="let item of Trends" routerLink="/Trends/{{item.slug}}/{{item.id}}">
            <h3 class="p-2 mt-2  border-radius-6" style="background-color: #ddd;color: black;cursor: pointer;">
              {{item.title|slice:0:55}} ...
            </h3>
          </div>

          <div class="titel border-radius-6 p-2" style="background-color: #96225c; color: aliceblue;">الاكثر قراءة</div>

          <div *ngFor="let item of MoreRead" routerLink="/Articles/{{item.slug}}">
            <h3 class="p-2 mt-2  border-radius-6" style="background-color: #ddd;color: black;cursor: pointer;">
              {{item.title|slice:0:55}} ...
            </h3>
          </div>

        </div>
      </div>
    </div>
  </article>
</div>
