*{margin:0PX;
    padding:0PX;
  }
    .container-fluid
    {
        position: relative; 
         width: 98% !important;
         overflow-x: hidden;
         margin-left:1%;
         margin-right:1%;
    }
    .container
    {
        text-align: center!important;
        .row
        {
            text-align: center!important;
        }
    }
    .dTitle
{
   
    margin-bottom:30px;
    color: black;
    font-weight: bolder!important;
    border-right: black 5px solid;
    
}
.titel:hover{
  color: #800040 !important;
}
.more{
  background-color: #800040;
  border-radius: 0%;

}
.cardImg
{
    height: 190px;
}
.news {
    width: 160px;
  }
  
  .news-scroll a {
    text-decoration: none;
    margin-left:10px;
    font-size: medium;
  }
  .itemCategory
  {
    padding-left:10px;
    padding-right:10px;
    cursor: pointer;
    :hover{
      >.card-title{

        color: #800040;
      }
    }
  }
  .taskBar
  {
    padding-right:70px;
  }
  .searchDiv
  {
    height:50px; 
    background-color:#3b3b3b;
  }
  .search{
padding-right:30px;
  }
  @media(max-width:990px) {
    .searchDiv
    {
      height: 65px !important;
    }
      .taskBar
  {
    // padding:0px;
    // width:60%!important;
  }
  .taskBar {
     padding-right: 0px !important;
}

  .title
  {
    width:20vw;
    font-size:3vw;
  }
  .search{
    padding-right:0px;
      }
  }
.cardImg2
{
  height: 190px;
  width:190px;
  border-radius:50%!important;
}

@media(max-width:600px) {
  .searchDiv
  {
    height: 100px !important;
  }}