<div *ngIf="!loaded">
  <app-loader></app-loader>
</div>
<div *ngIf="loaded">

  <div class="searchDiv">
    <div class="container-fluid">
      <div class="row justify-content-between d-flex">
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-12 taskBar">

          <div class="d-flex justify-content-between align-items-center breaking-news bg-white mt-2 rounded-5">
            <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger
                py-2 text-white px-1 news rounded-5">
              <span class="d-flex align-items-center title">&nbsp;لحظة بلحظة</span>
            </div>
            <marquee class="news-scroll" behavior="scroll" direction="up" style="height: 38px;" Scrollamount=1
              onmouseover="this.stop();" onmouseout="this.start();">
              <div *ngFor="let item of taskBarItems" class="mb-2 me-2">
                <a href="#" [routerLink]="['/News/',item?.slug]">
                  {{item?.title}}
                </a>

              </div>
            </marquee>
          </div>

        </div>
        <div class="col-lg-4 col-md-4 col-12 ">

          <div class="mt-3 d-flex justify-content-lg-start w-100 float-start search">
            <input type="text" (keyup.enter)="search(inputSearch.value)" class="form-control" #inputSearch>
            <a class="btn btn-sm btn-danger px-2 me-2" (click)="search(inputSearch.value)">بحث</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- ////////////////////////////////////////// -->
  <div class="row  mt-3">
    <!-- <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 text-center">
     <div>
       <button class="btn btn-danger p-1 px-3 my-2" (click)="Next()">
         <i class="fa fa-arrow-up" aria-hidden="true"></i>
       </button>
     </div>
     <div>
       <img [src]="images[next]" width="280px" height="150" class="mb-3" alt="">
     </div>
     <div>
       <img [src]="images[perv]" width="280px" height="150" alt="">
     </div>
     <div>
       <button class="btn btn-danger p-1  px-3 my-2" (click)="Prov()">
         <i class="fa fa-arrow-down" aria-hidden="true"></i>
       </button>
     </div>
  
  
  
   </div> -->
    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 text-center mb-4">

            <img src="./assets/temp-imgs/advertise.jfif" height="420" width="280" class="home-img">
         
    </div>
    <div class=" col-lg-6 col-md-8 col-sm-12 mb-4" *ngIf="slides">

      <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="false" [pauseOnFocus]="false"
        (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let slide of slides; index as i">
          <a routerLink="/News/{{slide.slug}}">
            <div class="carousel-caption">
              <h2 style="background-color: whitesmoke; color:red;border-radius:5px;padding-top:5px;padding-bottom:5px;">
                {{slide.title}}</h2>
            </div>
            <div class="picsum-img-wrapper d-flex justify-content-center bg-dark">
              <img [src]="slide.image"  height="420px" class="sliderimg w-100" />
            </div>
          </a>
        </ng-template>
      </ngb-carousel>
    </div>
    <!-- <hr />
  
   <div class="form-check">
   <input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover" />
   <label class="form-check-label" for="pauseOnHover">Pause on hover</label>
   </div>
   <div class="form-check">
   <input type="checkbox" class="form-check-input" id="pauseOnFocus" [(ngModel)]="pauseOnFocus" />
   <label class="form-check-label" for="pauseOnFocus">Pause on focus</label>
   </div>
   <div class="form-check">
   <input type="checkbox" class="form-check-input" id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow" />
   <label class="form-check-label" for="unpauseOnArrow">Unpause when clicking on arrows</label>
   </div>
   <div class="form-check">
   <input type="checkbox" class="form-check-input" id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator" />
   <label class="form-check-label" for="pauseOnIndicator">Pause when clicking on navigation indicator</label>
   </div>
   <button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
   {{paused ? 'Cycle' : 'Pause' }}
   </button> 
   </div>-->
    <div class=" col-lg-3 col-md-4 col-sm-12 text-center mb-4">
      <!-- <img src="./assets/temp-imgs/advertise.jfif" height="420" width="280"> -->
      <div class="m-auto">

        <app-poll></app-poll>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////// -->
  <div class="row">
    <div class="col-md-9 col-12">

      <div class="container-fluid pt-4 pb-4" *ngFor="let item of allCategories;let i=index">
        <div class=" dTitle d-flex justify-content-between" style="background-color:#cbcbb3;" *ngIf="item.news?.length>0">
          <h1 class="titel pt-1" style="padding-right:30px;font-weight:bold;cursor:pointer"
            [routerLink]="['/category/',item.slug]">
            {{item.name}}</h1>
          <a class="btn more text-white px-2 align-items-center gap-4 d-flex" (click)="setName(item.name)"
            [routerLink]="['/category/',item.slug]">
            <small class="">المزيد</small>
    
            <i class="fas fa-arrow-left"></i>
          </a>
        </div>
        <!-- Section: Images -->
        <section class="" *ngIf="i % 7===0">
          <div class="row" *ngIf="item.news?.length>0">
    
    
            <div class="col-lg-12 col-md-12 col-sm-12 mb-md-0 itemCategory">
              <div class="row d-flex justify-content-around">
                <div></div>
                <div *ngFor="let newsItem of item.news ; let j=index;" class="col-lg-2 col-md-4 col-sm-12 mx-2">
                  <div *ngIf="j<5">
    
                    <div class="card mb-5 w-100" [routerLink]="['/News/',newsItem.slug]">
                      <div class="card-body pb-2">
                        <img [src]="newsItem.image" class="img-fluid w-100 mb-2 ph-img"
                          style="height: 130px;" />
                        <div class="mx-2">
    
                          <small class="card-title">{{newsItem.title|maxLenght:50}} </small>
                        </div>
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
    
          </div>
        </section>
        <!-- Section: Images -->
        <!-- Section: Images -->
        <section class="" *ngIf="i===1 || i===8 ||i===15">
          <div class="row" *ngIf="item.news?.length>0">
    
            <div class="col-lg-6 col-md-12 mb-md-0 itemCategory">
              <div class="card mb-5 w-100" [routerLink]="['/News/',item.news[0].slug]">
                <div class="card-body mb-3">
                  <img [src]="item.news[0].image" alt="Trendy Pants and Shoes" class="img-fluid w-100 mb-2 ph-img" style="height: 410px;"/>
                  <h2 class="card-title px-2" style="font-weight: bold;">{{item.news[0].title|maxLenght:60}} </h2>
    
                  <!-- <p class="card-text px-2">
                         {{item.news[0].subtitle|maxLenght:210}} </p> -->
                  <p class="card-text px-2">
                    <small class="text-muted py-3 my-5">{{item.news[0].created_at}} </small>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-md-0 itemCategory ">
              <div class="row">
    
                <div *ngFor="let newsItem of item.news.slice(1) ; let j=index;" class="col-lg-5 col-md-5 col-sm-12 mx-2 m-auto">
                  <div *ngIf="j<4">
    
                    <div class="card mb-5 w-100" [routerLink]="['/News/',newsItem.slug]">
                      <div class="card-body">
                        <img [src]="newsItem.image" alt="Trendy Pants and Shoes" class="img-fluid w-100 mb-2 ph-img"
                          style="height: 140px;" />
                        <h4 class="card-title p-2">{{newsItem.title|maxLenght:50}} </h4>
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
    
          </div>
        </section>
        <!-- Section: Images -->
        <!-- Section: Images -->
        <section class="" *ngIf="i===2|| i===9 ||i===16">
          <div class="row" *ngIf="item.news?.length>0">
            <div class="col-lg-6 col-md-12 mb-md-0 itemCategory ">
              <div class="row d-flex justify-content-end">
    
    
                <div *ngFor="let newsItem of item.news.slice(1) ; let j=index;" class="col-lg-5 col-md-5 col-sm-12 mx-2">
                  <div *ngIf="j<4">
    
                    <div class="card mb-5 w-100" [routerLink]="['/News/',newsItem.slug]">
                      <div class="card-body">
                        <img [src]="newsItem.image" class="img-fluid w-100 mb-2 float-end"
                          style="height:140px ;" />
                        <h4 class="card-title p-2">{{newsItem.title |maxLenght:50}} </h4>
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
    
            <div class="col-lg-6 col-md-12 mb-md-0 itemCategory">
              <div class="card mb-5 w-100" [routerLink]="['/News/',item.news[0].slug]">
                <div class="card-body mb-3">
                  <img [src]="item.news[0].image" alt="Trendy Pants and Shoes" class="img-fluid w-100 mb-2" style="height: 410px;"/>
                  <h2 class="card-title px-2" style="font-weight: bold;">{{item.news[0].title |maxLenght:60}} </h2>
    
                  <!-- <p class="card-text px-2">
                         {{item.news[0].subtitle|maxLenght:290}} </p> -->
                  <p class="card-text px-2">
                    <small class="text-muted py-3 my-5">{{item.news[0].created_at}} </small>
                  </p>
                </div>
              </div>
    
    
            </div>
          </div>
        </section>
        <!-- Section: Images -->
        <!-- Section: Images -->
        <section class="" *ngIf="i===3|| i===10 ||i===17">
          <div class="row" *ngIf="item.news?.length>0">
            <div class="col-lg-4 col-md-12 col-12 mb-md-0 itemCategory ">
              <div class="row">
    
                <div *ngFor="let newsItem of item.news.slice(1) ; let j=index;" class="col-12 col-md-5 mx-2 m-auto">
                  <div *ngIf="j<4">
    
                    <div class="card mb-2 w-100" [routerLink]="['/News/',newsItem.slug]">
                      <div class="card-body pb-1">
                        <img [src]="newsItem.image" alt="Trendy Pants and Shoes" class="img-fluid w-100 mb-2 ph-img"
                          style="height: 120px;" />
                        <div class="mx-1">
                          <small class="card-title">{{newsItem.title|maxLenght:50}} </small>
                        </div>
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 mb-md-0 itemCategory m-auto">
              <div class="card mb-5 w-100 m-auto" [routerLink]="['/News/',item.news[0]?.slug]">
                <div class="card-body mb-3">
                  <img [src]="item.news[0]?.image" alt="Trendy Pants and Shoes" class="img-fluid w-100 mb-2 ph-img" style="height: 250px;"/>
                  <h4 class="card-title px-2" style="font-weight: bold;">{{item.news[0]?.title|maxLenght:60}} </h4>
    
                  <!-- <p class="card-text px-2">
                         {{item.news[0].subtitle|maxLenght:290}} </p> -->
                  <p class="card-text px-2">
                    <small class="text-muted py-3 my-5">{{item.news[0].created_at}} </small>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 mb-md-0 itemCategory ">
              <div class="row">
    
                <div *ngFor="let newsItem of item.news.slice(5) ; let j=index;" class="col-12 col-md-5 mx-2 m-auto">
                  <div *ngIf="j<4">
    
                    <div class="card mb-2 w-100" [routerLink]="['/News/',newsItem.slug]">
                      <div class="card-body pb-1">
                        <img [src]="newsItem.image" class="img-fluid w-100 mb-2 ph-img"
                          style="height: 120px;" />
                        <div class="mx-1">
                          <small class="card-title">{{newsItem.title|maxLenght:50}} </small>
                        </div>
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
    
          </div>
        </section>
        <!-- Section: Images -->
        <!-- Section: Images -->
        <section class="" *ngIf="i===4|| i===11 ||i===18">
          <div class="row" *ngIf="item.news?.length>0">
            <div class="col-lg-4 col-md-12 col-12 mb-md-0 itemCategory">
              <div class="card mb-5 w-100" [routerLink]="['/News/',item.news[0]?.slug]">
                <div class="card-body mb-3">
                  <img [src]="item.news[0]?.image" alt="Trendy Pants and Shoes" class="img-fluid w-100 mb-2 ph-img" style="height: 250px;"/>
                  <h4 class="card-title px-2" style="font-weight: bold;">{{item.news[0]?.title|maxLenght:90}} </h4>
    
                  <!-- <p class="card-text px-2">
                           {{item.news[0].subtitle|maxLenght:290}} </p>
                         <p class="card-text px-2">
                           <small class="text-muted py-3 my-5">{{item.news[0].created_at}} </small>
                         </p> -->
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 mb-md-0 itemCategory">
              <div class="row">
    
                <div *ngFor="let newsItem of item.news.slice(1) ; let j=index;" class="col-lg-3 col-12 px-2 m-auto">
                  <div *ngIf="j<8">
    
                    <div class="card mb-2 w-100" [routerLink]="['/News/',newsItem.slug]">
                      <div class="card-body pb-1">
                        <img [src]="newsItem.image" alt="Trendy Pants and Shoes" class="img-fluid w-100 mb-2 ph-img"
                          style="height: 100px;" />
                        <div class="me-1">
                          <small class="card-title">{{newsItem.title|maxLenght:50}} </small>
                        </div>
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4 col-md-12 col-12 mb-4 mb-md-0 itemCategory ">
              <div class="row">
      
                <div  *ngFor="let newsItem of item.news.slice(5) ; let j=index;" class="col-5 mx-2">
                       <div *ngIf="j<4">
      
                         <div class="card mb-2 w-100"  [routerLink]="['/News/',newsItem.slug]">
                           <div class="card-body pb-1">
                             <img [src]="newsItem.image" alt="Trendy Pants and Shoes" class="img-fluid w-100 mb-2" style="height: 100px;" />
                             <div class="me-1">
                              <small class="card-title">{{newsItem.title|maxLenght:50}} </small>
                             </div>
                               
                           </div>
                         </div>
                       </div>
                </div>
              </div>
             </div> -->
    
    
          </div>
        </section>
        <!-- Section: Images -->
        <!-- Section: Images -->
        <section class="" *ngIf="i===5|| i===12 ||i===19">
          <div class="row" *ngIf="item.news?.length>0">
            <div class="col-lg-4 col-md-12 col-12 mb-md-0 itemCategory ">
              <div class="row d-flex justify-content-end">
    
                <div *ngFor="let newsItem of item.news.slice(2); let j=index;" class="col-md-5 col-12 mx-2">
                  <div *ngIf="j<4">
    
                    <div class="card mb-2 w-100" [routerLink]="['/News/',newsItem.slug]">
                      <div class="card-body pb-1">
                        <img [src]="newsItem.image" class="img-fluid w-100 mb-2 ph-img"
                          style="height: 100px;" />
                        <div class="me-1">
                          <small class="card-title">{{newsItem.title|maxLenght:40}} </small>
                        </div>
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 mb-md-0 itemCategory"
              *ngFor="let newsItem of item.news; let j=index;">
              <div class="card mb-5 w-100" [routerLink]="['/News/',newsItem?.slug]" *ngIf="j<2">
                <div class="card-body mb-3">
                  <img [src]="newsItem?.image" class="img-fluid w-100 mb-2 ph-img"
                    style="height: 230px;" />
                  <h4 class="card-title px-2" style="font-weight: bold;">{{newsItem?.title|maxLenght:60}} </h4>
    
                  <!-- <p class="card-text px-2">
                           {{item.news[0].subtitle|maxLenght:290}} </p>
                          -->
                          <p class="card-text px-2">
                            <small class="text-muted py-3 my-5">{{item.news[0].created_at}} </small>
                          </p>
                </div>
              </div>
            </div>
    
    
    
    
          </div>
          <div class="row">
    
    
            <div class="col-lg-12 col-md-12 mb-md-0 itemCategory">
              <div class="row d-flex justify-content-around">
    
                <div *ngFor="let newsItem of item.news.slice(6) ; let j=index;" class="col-12 col-lg-2 col-md-2 mx-2">
                  <div *ngIf="newsItem && j<5">
    
                    <div class="card w-100" [routerLink]="['/News/',newsItem.slug]">
                      <div class="card-body pb-2">
                        <img [src]="newsItem.image" class="img-fluid w-100 mb-2 ph-img"
                          style="height: 100px;" />
                        <div class="me-2">
    
                          <small class="card-title">{{newsItem.title|maxLenght:50}} </small>
                        </div>
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
    
          </div>
        </section>
        <!-- Section: Images -->
        <!-- Section: Images -->
        <section class="" *ngIf="i===6|| i===13 ||i===20">
          <div class="row" *ngIf="item.news?.length>0">
    
    
            <div class="col-lg-12 col-md-12 mb-md-0 itemCategory">
              <div class="row d-flex justify-content-around">
    
                <div *ngFor="let newsItem of item.news ; let j=index;" class="col-12 col-lg-2 col-md-2 mx-2 mb-2">
                  <div *ngIf="j<5">
    
                    <div class="card mb-5 w-100" [routerLink]="['/News/',newsItem.slug]">
                      <div class="card-body pb-2">
                        <img [src]="newsItem.image" class="img-fluid w-100 mb-2 ph-img"
                          style="height: 130px;" />
                        <div class="mx-2">
    
                          <small class="card-title">{{newsItem.title|maxLenght:55}} </small>
                        </div>
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
    
          </div>
        </section>
        <!-- Section: Images -->
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="container-fluid pt-3 pb-4">

        <img src="./assets/temp-imgs/advertise.jfif" height="350" width="290" class="home-img my-2">
        <div class="mt-1 ms-2" *ngIf="trends.length>0">

          <div class=" d-flex justify-content-between" style="background-color:#cbcbb3;" >
            <h5 class="titel pt-1 m-1" style="padding-right:10px;font-weight:bold;cursor:pointer"
              [routerLink]="['/trends/']">تريندات</h5>
           
          </div>
          <section class="bg-light">
            <div class="row">
              <div class="col-md-6 col-12 border-bottom mt-2" *ngFor="let trend of trends">
             <div class="row">

               <div class="col-12 text-center">
                 <div class="m-auto">
   
                   <img [src]="trend?.images[0]?.image" class="userImage img-fluid" style="height: 120px;">
                 </div>
               </div>
               <div class="col-12" style="font-size: 10px !important;">
                 <div class=" text-center" routerLink="/Trend/{{trend.slug}}" style="cursor: pointer;font-size: 10px !important">
                   <!-- <p class="text-danger" style="font-size: 10px !important">{{trend.title}}</p> -->
                   <p class="" style="font-size: 11px !important">{{trend.title}}
                   </p>
                   
                  
                 </div>
               </div>
             </div>
              </div>
            </div>
            <div class="">
            <div class="p-2 d-flex justify-content-end" [routerLink]="['/trends/']" style="cursor: pointer;">
              <p class="text-decoration-underline">المزيد</p>
              <i class="fa-sharp fa-solid fa-plus text-danger me-3"></i>
            </div>  
          </div>
  
          </section>
        </div>
        <img src="./assets/temp-imgs/advertise.jfif" height="430" width="290" class="home-img my-2">
        <div class="mt-1 ms-2" *ngIf="articles.length>0">

          <div class=" d-flex justify-content-between" style="background-color:#cbcbb3;" >
            <h5 class="titel pt-1 m-1" style="padding-right:10px;font-weight:bold;cursor:pointer"
              [routerLink]="['/articles/']">
              كتاب و أراء</h5>
           
          </div>
          <section class="bg-light " style="font-size: 10px !important;">
            <div class="row">
              <div class="col-md-6 col-12 bg-white border-bottom mt-2" *ngFor="let item of articles">
             <div class="row">

               <div class="col-4 text-center">
                 <div class="m-auto">
   
                   <img [src]="item.user.image" class="userImage img-fluid" style="height: 90px;">
                 </div>
               </div>
               <div class="col-8" style="font-size: 10px !important;">
                 <div class="mt-3 me-1" routerLink="/Articles/{{item.slug}}" style="cursor: pointer;font-size: 10px !important">
                   <p class="text-danger text-decoration-underline" style="font-size: 10px !important">{{item.user.name}}</p>
                   <p class="" style="font-size: 11px !important">{{item.title}}
                   </p>
                   
                  
                 </div>
               </div>
             </div>
              </div>
            </div>
            <div class="border-top mt-5">
            <div class="p-2 d-flex justify-content-end" [routerLink]="['/articles/']" style="cursor: pointer;">
              <p class="text-decoration-underline">المزيد</p>
              <i class="fa-sharp fa-solid fa-plus text-danger me-3"></i>
            </div>  
            </div>
          </section>
        </div>
        <img src="./assets/temp-imgs/advertise.jfif" height="430" width="290" class="home-img my-2">
  
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////// -->
</div>
