<app-navbar></app-navbar>
<div style="height: 50px; background-color: #3b3b3b;"></div>
  <div class="container-fluid">
</div>
<!-- ////////////////////////////////////////// -->
<div class="container-fluid p-4">
  <div class="text-center dTitle">
<h2>أخبار الحوادث</h2>
  </div>
  <!-- Section: Images -->
  <section class="">
    <div class="row">
     
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-5">
                  <img
                    src="../../../../assets/temp-imgs/111.jpg"
                    alt="Trendy Pants and Shoes"
                    class="img-fluid rounded-start cardImg"
                    
                  />
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">هروب مسجل </h5>
                    <p class="card-text">
                      صحيفة إخبارية إلكترونية يومية شاملة، تصدر عن الشركة "المصرية للصحافة والنشر 
                    </p>
                    <p class="card-text">
                      <small class="text-muted">منذ 6 ساعات</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-5">
                  <img
                    src="../../../../assets/temp-imgs/222.jpg"
                    alt="Trendy Pants and Shoes"
                    class="img-fluid rounded-start cardImg"
                  />
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">اعدام القاتل </h5>
                    <p class="card-text">
                      صحيفة إخبارية إلكترونية يومية شاملة، تصدر عن الشركة "المصرية للصحافة والنشر 
                    </p>
                    <p class="card-text">
                      <small class="text-muted">منذ يوم</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-5">
                  <img
                    src="../../../../assets/temp-imgs/333.jpg"
                    alt="Trendy Pants and Shoes"
                    class="img-fluid rounded-start cardImg"
                  />
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title"> محكمة قنا</h5>
                    <p class="card-text">
                      صحيفة إخبارية إلكترونية يومية شاملة، تصدر عن الشركة "المصرية للصحافة والنشر 
                    </p>
                    <p class="card-text">
                      <small class="text-muted">منذ ساعة</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-5">
                  <img
                    src="../../../../assets/temp-imgs/444.jpg"
                    alt="Trendy Pants and Shoes"
                    class="img-fluid rounded-start cardImg"
                  />
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title"> قتل شاب</h5>
                    <p class="card-text">
                      صحيفة إخبارية إلكترونية يومية شاملة، تصدر عن الشركة "المصرية للصحافة والنشر 
                    </p>
                    <p class="card-text">
                      <small class="text-muted">منذ عدة دقائق</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
      </div>
     
    </div>
  </section>
  <!-- Section: Images -->
</div>
<!-- ///////////////////////////////////////// -->
<app-footer></app-footer>