*{margin:0PX;
    padding:0PX;}
    .container-fluid
    {
        position: relative; 
         width: 92% !important;
         overflow-x: hidden;
         margin-left:4%;
         margin-right:4%;
    }
    .container
    {
        text-align: center!important;
        .row
        {
            text-align: center!important;
        }
    }
    .dTitle
{
    margin-top:50px;
    margin-bottom:30px;
    color: rgba(204, 7, 7);
}
.cardImg
{
    height: 190px;
}
.news {
    width: 160px
  }
  
  .news-scroll a {
    text-decoration: none;
    margin-left:10px;
    font-size: medium;
  }
  