<section class="ftco-section py-3">
    <div class="container-fluid px-md-5">
        <div class="row justify-content-between">
            <div class="col-md-8 order-md-last">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a class="navbar-brand" routerLink="/"><img
                                style="max-width:240px!important;min-width: 80px!important;"
                                src="assets/icons/SVG/logoo.png" alt="logo lhza"></a>
                    </div>
                    <!-- <div class="col-md-6 d-md-flex justify-content-end align-items-center mb-md-0 mb-3">
                        <form action="#" class="searchform order-lg-last">
                            <div class="form-group d-flex">
                                <input type="text" (keyup.enter)="search(inputSearch.value)" class="form-control pl-3"
                                    placeholder="بحث ..." #inputSearch>
                                <button type="button" (click)="search(inputSearch.value)"
                                    class="form-control search"><span class="fa fa-search"></span></button>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <div class="social-media">
                    <p class="mb-0 d-flex">
                        <ng-container *ngFor="let item of socialMedia">
                            <a [href]="item.link" target="_blank"
                                class="d-flex align-items-center justify-content-center">
                                <i class="fab" [ngClass]="item.icon"></i>
                            </a>
                        </ng-container>
                        <!-- <a href="javascript:void(0)" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                    <a href="javascript:void(0)" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                    <a href="javascript:void(0)" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                    <a href="javascript:void(0)" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a> -->
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- END nav -->

</section>
<nav #stickyMenu [style.position]="sticky ? 'fixed' : ''"
    class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" style="z-index: 999;"
    id="ftco-navbar">
    <div class="container-fluid">

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
        </button> -->

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav m-auto">
                <li class="d-flex align-items-center" *ngIf="sticky">
                    <a href="javascript:void(0)" routerLink="/"><img style="max-width:130px!important;min-width: 130px!important;"
                            src="../../../../../assets/icons/Llogo.svg" alt="logo lhza"></a>
                </li>
                <ng-container *ngFor="let cat of allCategories; let i = index">

                    <li class="nav-item active" *ngIf="i < 7"><a [routerLink]="['/category/', cat.slug]"
                            routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}"
                            class="nav-link">{{cat.name}}</a></li>
                    <li class="nav-item me-3 me-lg-0 dropdown listitem2" *ngIf="showMore && i == 7">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle " id="navbarDropdown" data-mdb-toggle="dropdown"
                            aria-expanded="false" (mouseenter)="shDrop()">
                            المزيد
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="isShown"
                            (mouseleave)="shDrop()">
                            <a href="javascript:void(0)" class="d-flex dropdown-item innernav-item" [routerLink]="['/articles']">مقالات</a>

                            <!-- <li >
                            <a class="d-flex dropdown-item" [routerLink]="['/tourism']">سياحة وترفيه</a>
                          </li> -->
                            <div *ngFor="let cat of allCategories; let i = index">
                                <a href="javascript:void(0)" class="d-flex dropdown-item innernav-item" href="javascript:void(0)" *ngIf="i >= 7"
                                    [routerLink]="['/category/', cat.slug]">{{ cat.name }}</a>
                            </div>
                        </div>
                    </li>
                </ng-container>
                <div class="position-relative d-flex align-items-center">
                    <span class="fa fa-search search-nav" (click)="toggleSearch = !toggleSearch"></span>
                    <div class="searchbox" *ngIf="toggleSearch">
                        <form action="#" class="searchform order-lg-last">
                            <div class="form-group d-flex">
                                <input type="text" (keyup.enter)="search(inputSearch.value)" class="form-control pl-3"
                                    placeholder="بحث ..." #inputSearch>
                                <button type="button" (click)="search(inputSearch.value)"
                                    class="form-control search"><span class="fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- <div class="">
                    <form action="#" class="searchform order-lg-last">
                        <div class="form-group d-flex">
                            <input type="text" (keyup.enter)="search(inputSearch.value)" class="form-control pl-3"
                                placeholder="بحث ..." #inputSearch>
                            <button type="button" (click)="search(inputSearch.value)"
                                class="form-control search"><span class="fa fa-search"></span></button>
                        </div>
                    </form>
                </div> -->
            </ul>
        </div>
    </div>
</nav>