<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand d-md-none" href="#">
            <img src="../../../../../assets/icons/SVG/logoo.png" alt="">
        </a>
        <button class="navbar-toggler">
            <span class="navbar-toggler-icon">xx</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <a class="navbar-brand d-md-block" href="#">
                    <img src="../../../../../assets/icons/SVG/logoo.png" alt="">
                </a>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>