.navbar{
    // position: fixed;
    // top: 0;
    // left: 0;
    position:-webkit-sticky; position:sticky; top:0;
    width: 100%;
    // z-index: 99999999999999999;
    background-color: #fff;
    border-bottom: solid 1px #800040;
}
.navbar-brand img {
    width: 200px;
  }
  .navbar-nav {
    align-items: center;
  }
  .navbar .navbar-nav .nav-link {
    color: #000;
    font-size: 1.1em;
    padding: 0.5em 1em;
  }
  @media screen and (min-width: 768px) {
    // .navbar-brand img {
    //   width: 100px;
    // }
    .navbar-brand {
      margin-right: 0;
      padding: 0 1em;
    }
  }
  