<!-- -----------------------------Top Marquee------------------------------------- -->
<marquee class="news-scroll" behavior="scroll" direction="right" Scrollamount=10 Scrollamount=10
  onmouseover="this.stop();" onmouseout="this.start();">
  <ng-container *ngFor="let item of taskBarItems">
    <a href="#" [routerLink]="['/News/',item?.slug]">
      {{item?.title}}
    </a>
    <span class="dot">
  
    </span>
  </ng-container>
 
</marquee>
<!-- -----------------------------/Top Marquee------------------------------------- -->

<!-- -----------------------------Part top of Nav------------------------------------- -->
<header class="auth d-flex">
  <!-- <div style="flex-grow: 1" class="mt-2">


    <a routerLink="/ads">
      <img src="assets/icons/ad.webp" width="100" height="100" class="img-fluid">
    </a>

  </div> -->
   <div style="flex-grow: 1" class="mt-2">


    <a routerLink="/ads">
      <img src="assets/icons/ad.webp" width="100" height="100" class="img-fluid">
    </a>

  </div> 
   <div class="dateDiv text-center mt-2 mx-3 ">
    <div class="dateFont"> {{ rxTime | date: 'EEEE, MMMM d, y, h:mm:ss a ':'+1':'ar-EG' }} </div>
  </div>
  <!-- <mat-icon class="text-danger">live_tv</mat-icon> -->
 

  <div style="flex-grow: 8">
    <!-- <img src="../../../../../assets/icons/baner.png" height="80" width="300"> -->

  </div>

  <button class="liveBtn">
    <a href="https://www.youtube.com/watch?v=paK9ztxqFBc" target="_blank">
      <small>مباشر</small>&nbsp;<i class="fab fa-youtube youtubeIcon fs-6"></i>&nbsp;&nbsp;<img src='../../../../../assets/icons/live1.png' width="25" height="25"
        class="mt-2"></a></button>
        <button class="liveBtn">
          <a href="https://www.facebook.com/alsehkmohmedatefabohatab/videos/465993902108138" target="_blank">
            <small>  مباشر</small>&nbsp;<i class="fab fa-facebook-f  fs-6"></i>&nbsp;&nbsp;<img src='../../../../../assets/icons/live1.png' width="25" height="25"
              class="mt-2"></a></button>
              <button class="trendBtn">
                <a routerLink="/trends">
                  <small>  تريندات لحظة</small>&nbsp;&nbsp;<i class="fa-solid fa-money-bill-trend-up"></i></a></button>
  <!-- <a class="text-light b" routerLink="/trends">تريند</a> -->
</header>

<!-- -----------------------------/Part top of Nav------------------------------------- -->
<!-- -----------------------------Navbar------------------------------------- -->

        <nav class="navbar navbar-expand-lg border-bottom ">
            <div class="container-fluid ">
              <button
                class="navbar-toggler"
                type="button"
                (click)="basicNavbar.toggle()"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
              <i class="fa fa-sliders text-warning" ></i>
              </button>

              <!-- Collapsible wrapper -->
              <div
                class="collapse navbar-collapse"
                id="navbarSupportedContent"
                mdbCollapse
                #basicNavbar="mdbCollapse"
              >
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mr-4">
                  <li class="nav-item" >
                    <a class="nav-link active text-white" aria-current="page"  [routerLink]="['']" >الرئيسية</a>
                  </li>
                  <ng-container *ngFor="let cat of allCategories;let i=index">
                  <li class="nav-item"  >
                    <a class="nav-link active text-white" aria-current="page"  [routerLink]="['/category/',cat.slug]" *ngIf="i<5" (click)="setName(cat.name)">{{cat.name}}</a>
                  </li>
                  <li class="nav-item me-3 me-lg-0 dropdown" *ngIf="showMore && i==5" >
                    <a
                      class="nav-link dropdown-toggle"
                      id="navbarDropdown"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                      (mouseover)="shDrop()"
                     
                    >
                      المزيد
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="isShown"   (click)="shDrop()" (mouseleave)="shDrop()">
                      <li >
                        <a class="dropdown-item" [routerLink]="['/articles']">مقالات</a>
                      </li>
                      <li >
                        <a class="dropdown-item" [routerLink]="['/tourism']">سياحة وترفيه</a>
                      </li>
                      <li *ngFor="let cat of allCategories;let i=index" >
                        <p class="dropdown-item" href="#" *ngIf="i>=7" [routerLink]="['/category/',cat.slug]" (click)="setName(cat.name)">{{cat.name}}</p>
                      </li>
                    </ul>
                  </li></ng-container>
                 </ul>
              </div>
              <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
          </nav>
<!-- -----------------------------/Navbar------------------------------------- -->
<!-- -----------------------------Under Navbar------------------------------------- -->
     <div class="d-flex bossDiv">
      <div  class="boss d-flex">
        <img src="./assets/icons/mLogo.png" height="162" width="162" class="bossImg"/>
        <div>
         <h6 class="bossName">رئيس التحرير : عبدالوارث محمد</h6>
         <small class="bossAbout" >رئيس قلم الجريدة ومدقق أخبار على مستوى الشرق الاوسط</small>
        </div>
      </div>
      <div  class="advertise">
        <img src="./assets/temp-imgs/advertise.jfif" height="150" width="350" > 
      </div>
    </div> 
      <!-- -----------------------------/Under Navbar------------------------------------- -->

