<div class="searchDiv">
    <div class="container-fluid">
     <div class="row">
       <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-6 col-sm-12 col-12 taskBar">
 
         <div class="d-flex justify-content-between align-items-center breaking-news bg-white mt-2 rounded-5">
           <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger
                py-2 text-white px-1 news rounded-5">
             <span class="d-flex align-items-center title">&nbsp;لحظة بلحظة</span>
           </div>
           <marquee class="news-scroll" behavior="scroll" direction="up" style="height: 38px;" Scrollamount=1
             onmouseover="this.stop();" onmouseout="this.start();">
             <div *ngFor="let item of taskBarItems" class="mb-2 me-2">
               <a href="javascript:void(0)" [routerLink]="['/News/',item?.slug]">
                 {{item?.title}}
               </a>
 
             </div>
           </marquee>
         </div>
 
       </div>
       <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
 
         <div class="mt-3 d-flex justify-content-lg-start w-100 float-start search">
           <input type="text" (keyup.enter)="search(inputSearch.value)" class="form-control" #inputSearch>
           <a href="javascript:void(0)" class="btn btn-sm btn-danger px-2 me-2" (click)="search(inputSearch.value)">بحث</a>
         </div>
       </div>
     </div>
   </div> 
 
 </div>
 <!-- ////////////////////////////////////////// -->
  <div class="container-fluid">
  
    <!--Grid row-->
    <div class="row text-center mt-5 mb-4 text-decoration">
      <h1>إستكشف العالم وأستمتع بأجمل الأوقات</h1>
      <p class="spanText"></p>
    </div>
    <div class="row">
      <!--Grid column-->
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12  mb-4">
        <div class="cont">
  
          <img src="./assets/temp-imgs/t9.jpg" class="img-fluid rounded-4 shadow-2-strong image"
            alt="Skyscrapers"  title="Skyscrapers" loading="lazy" />
          <div class="middle">
            <p class="subTxt">رحلات السفارى فى صحراء دبى</p>
            <!-- <a href="https://mashroo3k.com/ar/product/%d8%b4%d8%b1%d9%83%d8%a9-%d8%b3%d9%8a%d8%a7%d8%ad%d8%a9-%d9%88%d8%b3%d9%81%d8%b1/"><div class="text subBtn">إحجز الان</div></a> -->
         <small>دبي سفاري بارك هي حديقة سفاري صديقة للبيئة تقع في دبي، الإمارات العربية المتحدة. المصدر الرئيسي للطاقة في الحديقة هو الطاقة الشمسية. تقع الحديقة في منطقة الورقاء 5 على طريق حتا. تضم الحديقة 2500 حيواناً من أكثر من 250 نوعًا.</small>
          </div>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="cont">
        <img src="./assets/temp-imgs/design-1.jpg" class="img-fluid rounded-4 shadow-2-strong image"
          alt="American Home" title="american home" loading="lazy"/>
          <div class="middle">
            <p class="subTxt">رحلات السفارى فى صحراء دبى</p>
            <!-- <a href="https://mashroo3k.com/ar/product/%d8%b4%d8%b1%d9%83%d8%a9-%d8%b3%d9%8a%d8%a7%d8%ad%d8%a9-%d9%88%d8%b3%d9%81%d8%b1/"><div class="text subBtn">إحجز الان</div></a> -->
         <small>دبي سفاري بارك هي حديقة سفاري صديقة للبيئة تقع في دبي، الإمارات العربية المتحدة. المصدر الرئيسي للطاقة في الحديقة هو الطاقة الشمسية. تقع الحديقة في منطقة الورقاء 5 على طريق حتا. تضم الحديقة 2500 حيواناً من أكثر من 250 نوعًا.</small>
          </div>
          </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="cont"> <img src="./assets/temp-imgs/t2.jpg" class="img-fluid rounded-4 shadow-2-strong image" alt="New York City" loading="lazy" title="New York City" />
        <div class="middle">
          <p class="subTxt">رحلات السفارى فى صحراء دبى</p>
          <!-- <a href="https://mashroo3k.com/ar/product/%d8%b4%d8%b1%d9%83%d8%a9-%d8%b3%d9%8a%d8%a7%d8%ad%d8%a9-%d9%88%d8%b3%d9%81%d8%b1/"><div class="text subBtn">إحجز الان</div></a> -->
       <small>دبي سفاري بارك هي حديقة سفاري صديقة للبيئة تقع في دبي، الإمارات العربية المتحدة. المصدر الرئيسي للطاقة في الحديقة هو الطاقة الشمسية. تقع الحديقة في منطقة الورقاء 5 على طريق حتا. تضم الحديقة 2500 حيواناً من أكثر من 250 نوعًا.</small>
        </div></div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="cont"> <img src="./assets/temp-imgs/t3.jpg" class="img-fluid rounded-4 shadow-2-strong image" alt="American Home" loading="lazy" title="American Home" />
        <div class="middle">
          <p class="subTxt">رحلات السفارى فى صحراء دبى</p>
          <!-- <a href="https://mashroo3k.com/ar/product/%d8%b4%d8%b1%d9%83%d8%a9-%d8%b3%d9%8a%d8%a7%d8%ad%d8%a9-%d9%88%d8%b3%d9%81%d8%b1/"><div class="text subBtn">إحجز الان</div></a> -->
       <small>دبي سفاري بارك هي حديقة سفاري صديقة للبيئة تقع في دبي، الإمارات العربية المتحدة. المصدر الرئيسي للطاقة في الحديقة هو الطاقة الشمسية. تقع الحديقة في منطقة الورقاء 5 على طريق حتا. تضم الحديقة 2500 حيواناً من أكثر من 250 نوعًا.</small>
        </div>
      </div></div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="cont"> <img src="./assets/temp-imgs/t4.jpg" class="img-fluid rounded-4 shadow-2-strong image" alt="Skyscrapers" loading="lazy" title="Skyscrapers" />
        <div class="middle">
          <p class="subTxt">رحلات السفارى فى صحراء دبى</p>
          <!-- <a href="https://mashroo3k.com/ar/product/%d8%b4%d8%b1%d9%83%d8%a9-%d8%b3%d9%8a%d8%a7%d8%ad%d8%a9-%d9%88%d8%b3%d9%81%d8%b1/"><div class="text subBtn">إحجز الان</div></a> -->
       <small>دبي سفاري بارك هي حديقة سفاري صديقة للبيئة تقع في دبي، الإمارات العربية المتحدة. المصدر الرئيسي للطاقة في الحديقة هو الطاقة الشمسية. تقع الحديقة في منطقة الورقاء 5 على طريق حتا. تضم الحديقة 2500 حيواناً من أكثر من 250 نوعًا.</small>
        </div></div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <img src="./assets/temp-imgs/t5.jpg" class="img-fluid rounded-4 shadow-2-strong image" alt="New York City" loading="lazy" title="New York City" />
        <div class="middle">
          <p class="subTxt">رحلات السفارى فى صحراء دبى</p>
          <!-- <a href="https://mashroo3k.com/ar/product/%d8%b4%d8%b1%d9%83%d8%a9-%d8%b3%d9%8a%d8%a7%d8%ad%d8%a9-%d9%88%d8%b3%d9%81%d8%b1/"><div class="text subBtn">إحجز الان</div></a> -->
       <small>دبي سفاري بارك هي حديقة سفاري صديقة للبيئة تقع في دبي، الإمارات العربية المتحدة. المصدر الرئيسي للطاقة في الحديقة هو الطاقة الشمسية. تقع الحديقة في منطقة الورقاء 5 على طريق حتا. تضم الحديقة 2500 حيواناً من أكثر من 250 نوعًا.</small>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <img src="../../../../assets/temp-imgs/t6.jpg" class="img-fluid rounded-4 shadow-2-strong image" alt="American Home" loading="lazy" title="American Home" />
        <div class="middle">
          <p class="subTxt">رحلات السفارى فى صحراء دبى</p>
          <!-- <a href="https://mashroo3k.com/ar/product/%d8%b4%d8%b1%d9%83%d8%a9-%d8%b3%d9%8a%d8%a7%d8%ad%d8%a9-%d9%88%d8%b3%d9%81%d8%b1/"><div class="text subBtn">إحجز الان</div></a> -->
       <small>دبي سفاري بارك هي حديقة سفاري صديقة للبيئة تقع في دبي، الإمارات العربية المتحدة. المصدر الرئيسي للطاقة في الحديقة هو الطاقة الشمسية. تقع الحديقة في منطقة الورقاء 5 على طريق حتا. تضم الحديقة 2500 حيواناً من أكثر من 250 نوعًا.</small>
        </div>
      </div>
      <!--Grid column-->
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <img src="../../../../assets/temp-imgs/design-2.jpg" class="img-fluid rounded-4 shadow-2-strong image"
          alt="American Home" loading="lazy" title="American Home" />
      </div>
      <!--Grid column-->
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12  mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="img-fluid rounded-4 shadow-2-strong image"
          alt="Hollywood Sign on The Hill" />
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <img src="../../../../assets/temp-imgs/design-3.jpg" class="img-fluid rounded-4 shadow-2-strong image"
          alt="American Home" loading="lazy" title="American Home" />
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/031.webp" class="img-fluid rounded-4 shadow-2-strong image"
          alt="Five Lands National Park" loading="lazy" title="Five Lands National Park" />
      </div>
  
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="img-fluid rounded-4 shadow-2-strong image"
          alt="Los Angeles Skyscrapers" loading="lazy" title="Los Angeles Skyscrapers" />
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class=" col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12  mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="img-fluid rounded-4 shadow-2-strong image"
          alt="Skyscrapers" loading="lazy" title="Skyscrapers" />
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/045.webp" class="img-fluid rounded-4 shadow-2-strong image"
          alt="New York City" loading="lazy" title="New York City" />
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/046.webp" class="img-fluid rounded-4 shadow-2-strong image"
          alt="American Home" loading="lazy" title="American Home" />
      </div>
      <!--Grid column-->
    </div>
  </div>
  
  