img{
    width:450px!important;
    height:300px!important;

}
h1
{
    color:#b38706;
   font-size:32px;
}



//images start//
.cont {
  position: relative;

}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cont:hover .image {
  opacity: 0.3;
}

.cont:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.subBtn
{
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
}
.subTxt
{
    font-weight: 600;
    color: #947005;
}

    
    .container
    {
        text-align: center!important;
        .row
        {
            text-align: center!important;
        }
    }
    .dTitle
{
   
    margin-bottom:30px;
    color: rgba(204, 7, 7);
    font-weight: bolder!important;
}
.cardImg
{
    height: 190px;
}
.news {
    width: 160px;
  }
  
  .news-scroll a {
    text-decoration: none;
    margin-left:10px;
    font-size: medium;
  }
  .itemCategory
  {
    padding-left:10px;
    padding-right:10px;
  }
  .taskBar
  {
    padding-right:70px;
  }
  .searchDiv
  {
    height:50px; 
    background-color:#3b3b3b;
  }
  .search{
padding-right:30px;
  }
  @media(max-width:990px) {
    .searchDiv
    {
      height:100px; }
      .taskBar
  {
    padding:0px;
    width:100%!important;
  }
  .title
  {
    width:20vw;
    font-size:3vw;
  }
  .search{
    padding-right:0px;
      }
  }

