	<!-- Start retroy layout blog posts -->
	<section class="section" *ngIf="slider">
        <div class="radius-6">
            <!-- <div class="row justify-content-between align-items-center three mb-4 mx-1" >
                <h3 [routerLink]="['/category/',data[0]?.slug]" class="m-0 px-0" style="width: max-content;cursor: pointer;">{{data[0]?.name}}</h3>
                <div  [routerLink]="['/category/',data[0]?.slug]" style="width: max-content;cursor: pointer;" id="pot" >
                    <i class="fas fa-arrow-left"></i>
                </div>
            </div> -->
			<!-- <div class="row align-items-stretch retro-layout">
				<div class="col-md-4">
					<a href="javascript:void(0)" [routerLink]="['/News',data[2]?.slug]" class="h-entry img-5 h-100 gradient">
						<span class="badge badge-pill badge-danger">{{data[2]?.category.name}}</span>
						<div class="featured-img" loading="lazy"  style="background-image: url({{data[2]?.image}});"></div>

						<div class="text">
							<span class="date">{{data[2]?.created_at}}</span>
							<h3 class="card-title">{{data[2]?.title|maxLenght:50}}</h3>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="javascript:void(0)" [routerLink]="['/News',data[0]?.slug]" class="h-entry mb-30 v-height gradient">
						<span class="badge badge-pill badge-danger">{{data[0]?.category.name}}</span>
					
						<div class="featured-img" loading="lazy"  style="background-image: url({{data[0]?.image}});"></div>
						<div class="text">
							<span class="date">{{data[0]?.created_at}}</span>
							<h3 class="card-title">{{data[0]?.title|maxLenght:50}}</h3>
						</div>
					</a>
					<a href="javascript:void(0)" [routerLink]="['/News',data[1]?.slug]" class="h-entry v-height gradient">
						<span class="badge badge-pill badge-danger">{{data[1]?.category.name}}</span>
					
						<div class="featured-img" loading="lazy"  style="background-image: url({{data[1]?.image}});"></div>
						<div class="text">
							<span class="date">{{data[1]?.created_at}}</span>
							<h3 class="card-title">{{data[1]?.title|maxLenght:50}}</h3>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="javascript:void(0)" [routerLink]="['/News',data[3]?.slug]" class="h-entry mb-30 v-height gradient">
						<span class="badge badge-pill badge-danger">{{data[3]?.category.name}}</span>


						<div class="featured-img" loading="lazy"  style="background-image: url({{data[3]?.image}});"></div>

						<div class="text">
							<span class="date">{{data[3]?.created_at}}</span>
							<h3 class="card-title">{{data[3]?.title|maxLenght:50}}</h3>
						</div>
					</a>
					<a href="javascript:void(0)" [routerLink]="['/News',data[4]?.slug]" class="h-entry v-height gradient">
						<span class="badge badge-pill badge-danger">{{data[4]?.category.name}}</span>


						<div class="featured-img" loading="lazy"  style="background-image: url({{data[4]?.image}});"></div>

						<div class="text">
							<span class="date">{{data[4]?.created_at}}</span>
							<h3 class="card-title">{{data[4]?.title|maxLenght:50}}</h3>
						</div>
					</a>
				</div>
			</div> -->
			<ngb-carousel #carousel [interval]="5000" [pauseOnHover]="false" [pauseOnFocus]="false">
				<ng-template ngbSlide *ngFor="let slide of data; index as i">
				  <a routerLink="/News/{{slide.slug}}">
					<div class="carousel-caption">
					  <h2 style="background-color: whitesmoke; color:red;border-radius:5px;padding-top:5px;padding-bottom:5px;">
						{{slide.title}}
					</h2>
					</div>
					<div class="picsum-img-wrapper d-flex justify-content-center bg-dark position-relative">
						<div class="filter-slider"></div>
					  <img [src]="slide.image" height="540" class="sliderimg" />
					</div>
				  </a>
				</ng-template>
			  </ngb-carousel>
		</div>
	</section>
	<!-- End retroy layout blog posts -->
	<section class="section" *ngIf="!slider">
        <div >
            <div class="row justify-content-between align-items-center three my-4 mx-1">
                <h2 class="m-0 px-0" style="width: max-content;cursor: pointer;">
				<a href="javascript:void(0)" [routerLink]="['/category/',data[0]?.slug]">{{data[0]?.name}}</a></h2>
                <div [routerLink]="['/category/',data[0]?.slug]"  style="width: max-content;cursor: pointer;" class="pot">
                    <i class="fas fa-arrow-left"></i>
                </div>
            </div>
			<div class="row align-items-stretch retro-layout" [class]="index % 2 == 0 ? 'flex-row-reverse':''" >
				<div class="col-md-4">
					<a href="javascript:void(0)" [routerLink]="['/News',data[0]?.news[2]?.slug]" class="h-entry img-5 h-100 gradient">
						<span class="badge badge-pill badge-danger">{{data[0]?.name}}</span>
					
						<div class="featured-img" loading="lazy"  style="background-image: url({{data[0]?.news[2]?.image}});"></div>
						<div class="text">
							<span class="date">{{data[0]?.news[2]?.created_at}}</span>
							<h3 class="card-title">{{data[0]?.news[2]?.title|maxLenght:50}}</h3>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="javascript:void(0)" [routerLink]="['/News',data[0]?.news[0]?.slug]" class="h-entry mb-30 v-height gradient">
						<span class="badge badge-pill badge-danger">{{data[0]?.name}}</span>
					
						<div class="featured-img" loading="lazy"  style="background-image: url({{data[0]?.news[0]?.image}});"></div>
						<div class="text">
							<span class="date">{{data[0]?.news[0]?.created_at}}</span>
							<h3 class="card-title">{{data[0]?.news[0]?.title|maxLenght:50}}</h3>
						</div>
					</a>
					<a href="javascript:void(0)" [routerLink]="['/News',data[0]?.news[1]?.slug]" class="h-entry v-height gradient">
						<span class="badge badge-pill badge-danger">{{data[0]?.name}}</span>
					
						<div class="featured-img" loading="lazy"  style="background-image: url({{data[0]?.news[1]?.image}});"></div>
						<div class="text">
							<span class="date">{{data[0]?.news[1]?.created_at}}</span>
							<h3 class="card-title">{{data[0]?.news[1]?.title|maxLenght:50}}</h3>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="javascript:void(0)" [routerLink]="['/News',data[0]?.news[3]?.slug]" class="h-entry mb-30 v-height gradient">
						<span class="badge badge-pill badge-danger">{{data[0]?.name}}</span>


						<div class="featured-img" loading="lazy"  style="background-image: url({{data[0]?.news[3]?.image}});"></div>

						<div class="text">
							<span class="date">{{data[0]?.news[3]?.created_at}}</span>
							<h3 class="card-title">{{data[0]?.news[3]?.title|maxLenght:50}}</h3>
						</div>
					</a>
					<a href="javascript:void(0)" [routerLink]="['/News',data[0]?.news[4]?.slug]" class="h-entry v-height gradient">
						<span class="badge badge-pill badge-danger">{{data[0]?.name}}</span>


						<div class="featured-img" loading="lazy"  style="background-image: url({{data[0]?.news[4]?.image}});"></div>

						<div class="text">
							<span class="date">{{data[0]?.news[4]?.created_at}}</span>
							<h3 class="card-title">{{data[0]?.news[4]?.title|maxLenght:50}}</h3>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>