
*{
    transition: .3s all;
}
.retro-layout .v-height {
    height: 240px;
}

@media (max-width: 767.98px) {
    .retro-layout .img {
        height: 240px;
    }
}

.retro-layout .h-entry {
    display: block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.retro-layout .h-entry .post-category {
    color: #fff;
}

.retro-layout .h-entry .featured-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.retro-layout .h-entry:hover .featured-img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.retro-layout .h-entry.mb-30 {
    margin-bottom: 30px;
}

.retro-layout .h-entry .date {
    font-size: 15px;
}

.retro-layout .h-entry.gradient {
    position: relative;
}

.retro-layout .h-entry.gradient:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

.retro-layout .text {
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 20px;
    max-width: 350px;
}

.retro-layout .text h2,
.retro-layout .text .h2 {
    color: #fff;
    // font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
}

.retro-layout .text span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}

.retro-layout .text.text-sm h2,
.retro-layout .text.text-sm .h2 {
    font-size: 18px;
    line-height: 1.5;
}

.retro-layout .gradient {
    position: relative;
}

.retro-layout .gradient:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

@media (max-width: 767.98px) {
    .retro-layout .img-5 {
        height: 240px !important;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

.retro-layout-alt .img-1 {
    background-size: 100% 100%;

    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 767.98px) {
    .retro-layout-alt .img-1 {
        height: 240px !important;
        position: relative;
        margin-bottom: 30px;
    }
    .h-entry{
        margin-bottom: 30px;
    }
}

.retro-layout-alt .img-2 {
    background-size: 100% 100%;

    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 767.98px) {
    .retro-layout-alt .img-2 {
        height: 240px !important;
    }
}

.retro-layout-alt .mb30 {
    margin-bottom: 30px;
}

.retro-layout-alt .hentry {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.retro-layout-alt .hentry .featured-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.retro-layout-alt .hentry:hover .featured-img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.retro-layout-alt .gradient {
    position: relative;
}

.retro-layout-alt .gradient:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

.retro-layout-alt .post-category {
    margin-left: 20px;
    margin-top: 10px;
}

.retro-layout-alt .v-height {
    height: 300px;
}

.retro-layout-alt .text {
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 20px;
    max-width: 350px;
}

.retro-layout-alt .text h2,
.retro-layout-alt .text .h2 {
    color: #fff;
    font-size: 26px;
}

.retro-layout-alt .text span {
    color: rgba(255, 255, 255, 0.7);
}

.retro-layout-alt .text.text-sm h2,
.retro-layout-alt .text.text-sm .h2 {
    font-size: 18px;
    line-height: 1.5;
}

.retro-layout-alt .two-col>a {
    width: calc(50% - 15px);
    float: left;
}

@media (max-width: 575.98px) {
    .retro-layout-alt .two-col>a {
        width: 100% !important;
        float: none !important;
        margin-bottom: 30px;
    }
}

.posts-entry-title {
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    letter-spacing: .05rem;
}

.posts-entry .blog-entry .img-link {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 10px;
}

.posts-entry .blog-entry h2,
.posts-entry .blog-entry .h2 {
    line-height: 1.3;
    font-size: 26px;
}

.posts-entry .blog-entry h2 a,
.posts-entry .blog-entry .h2 a {
    color: #4D4C7D;
}

.posts-entry .btn-sm,
.posts-entry .btn-group-sm>.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.posts-entry .blog-entry-sm li {
    margin-bottom: 20px;
}

.posts-entry .blog-entry-sm h3,
.posts-entry .blog-entry-sm .h3 {
    font-size: 20px;
}

.posts-entry .blog-entry-sm h3 a,
.posts-entry .blog-entry-sm .h3 a {
    color: #4D4C7D;
}

.posts-entry.posts-entry-sm .blog-entry h2,
.posts-entry.posts-entry-sm .blog-entry .h2 {
    font-size: 18px;
}

.posts-entry .blog-entry-search-item {
    margin-bottom: 30px;
}

.posts-entry .blog-entry-search-item .img-link {
    width: 280px;
    border-radius: 0;
}

.posts-entry .blog-entry-search-item .img-link img {
    margin-bottom: 0;
    border-radius: 10px;
}
// .title-section{
//     position: relative;
// }
// .title-section::before{
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 50px;
//     height: 2px;
//     color: #ff0;
// }


  #pot {
    animation: linear infinite alternate;
    animation-name: run;
    animation-duration: 1s;
  }
  @keyframes run {
    0% {
      transform: translateX(0px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(10px);
    }
  }
.badge{
    position: absolute;
    top: 18px;
    right: 12px;
    z-index: 2;
    padding: 2px 6px;
    line-height: 18px;
    background: #96225c;
    color: #fff;
}