	<!-- Start retroy layout blog posts -->
	<section class="section" *ngIf="index == 0">
        <div >
            <div class="row justify-content-between align-items-center three mb-4 mx-1" >
                <h2 [routerLink]="['/category/',data.slug]" class="m-0 px-0" style="width: max-content;cursor: pointer;">{{data.name}}</h2>
                <div  [routerLink]="['/category/',data.slug]" style="width: max-content;cursor: pointer;" id="pot" >
                    <i class="fas fa-arrow-left"></i>
                </div>
            </div>
			<div class="row align-items-stretch retro-layout">
				<div class="col-md-4">
					<a href="single.html" class="h-entry mb-30 v-height gradient">
						<div class="featured-img" style="background-image: url({{data.news[0].image}});"></div>
						<div class="text">
							<span class="date">Apr. 14th, 2022</span>
							<h2 class="card-title">{{data.news[0].title|maxLenght:50}}</h2>
						</div>
					</a>
					<a href="single.html" class="h-entry v-height gradient">
						<div class="featured-img" style="background-image: url({{data.news[1].image}});"></div>
						<div class="text">
							<span class="date">Apr. 14th, 2022</span>
							<h2 class="card-title">{{data.news[1].title|maxLenght:50}}</h2>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="single.html" class="h-entry img-5 h-100 gradient">

						<div class="featured-img" style="background-image: url({{data.news[2].image}});"></div>

						<div class="text">
							<span class="date">Apr. 14th, 2022</span>
							<h2 class="card-title">{{data.news[2].title|maxLenght:50}}</h2>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="single.html" class="h-entry mb-30 v-height gradient">

						<div class="featured-img" style="background-image: url({{data.news[3].image}});"></div>

						<div class="text">
							<span class="date">Apr. 14th, 2022</span>
							<h2 class="card-title">{{data.news[3].title|maxLenght:50}}</h2>
						</div>
					</a>
					<a href="single.html" class="h-entry v-height gradient">

						<div class="featured-img" style="background-image: url({{data.news[4].image}});"></div>

						<div class="text">
							<span class="date">Apr. 14th, 2022</span>
							<h2 class="card-title">{{data.news[4].title|maxLenght:50}}</h2>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End retroy layout blog posts -->
	<section class="section" *ngIf="index != 0">
        <div >
            <div class="row justify-content-between align-items-center three mb-4 mx-1">
                <h2 [routerLink]="['/category/',data.slug]" class="m-0 px-0" style="width: max-content;cursor: pointer;">{{data.name}}</h2>
                <div [routerLink]="['/category/',data.slug]"  style="width: max-content;cursor: pointer;" id="pot">
                    <i class="fas fa-arrow-left"></i>
                </div>
            </div>
			<div class="row align-items-stretch retro-layout" [class]="index % 2 == 0 ? 'flex-row-reverse':''" >
				<div class="col-md-4">
					<a href="single.html" class="h-entry img-5 h-100 gradient">

						<div class="featured-img" style="background-image: url({{data.news[2].image}});"></div>

						<div class="text">
							<span class="date">Apr. 14th, 2022</span>
							<h2 class="card-title">{{data.news[2].title|maxLenght:50}}</h2>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="single.html" class="h-entry mb-30 v-height gradient">
						<div class="featured-img" style="background-image: url({{data.news[0].image}});"></div>
						<div class="text">
							<span class="date">Apr. 14th, 2022</span>
							<h2 class="card-title">{{data.news[0].title|maxLenght:50}}</h2>
						</div>
					</a>
					<a href="single.html" class="h-entry v-height gradient">
						<div class="featured-img" style="background-image: url({{data.news[1].image}});"></div>
						<div class="text">
							<span class="date">Apr. 14th, 2022</span>
							<h2 class="card-title">{{data.news[1].title|maxLenght:50}}</h2>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="single.html" class="h-entry mb-30 v-height gradient">

						<div class="featured-img" style="background-image: url({{data.news[3].image}});"></div>

						<div class="text">
							<span class="date">Apr. 14th, 2022</span>
							<h2 class="card-title">{{data.news[3].title|maxLenght:50}}</h2>
						</div>
					</a>
					<a href="single.html" class="h-entry v-height gradient">

						<div class="featured-img" style="background-image: url({{data.news[4].image}});"></div>

						<div class="text">
							<span class="date">Apr. 14th, 2022</span>
							<h2 class="card-title">{{data.news[4].title|maxLenght:50}}</h2>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>