<div class="col-12 order-md-last">
    <div class="row">
        <div class="col-md-6 text-center">
            <a class="navbar-brand" routerLink="/"><img
                    style="max-width:240px!important;min-width: 80px!important;"
                    src="assets/icons/SVG/logoo.png" alt="lhza news" title="lhza news" loading="lazy" ></a>
        </div>
    </div>
</div>
<div #stickyMenu [style.position]="sticky ? 'fixed' : ''" class="hamburger-menu d-flex">
    <!-- <div class="w-100"> -->
    <input id="menu__toggle" type="checkbox" size="z-index:9999999" (click)="toggleSidebar()" [class.active_sidebar]="_LayoutService.isSidebar.value" />
    <label class="menu__btn" for="menu__toggle" size="z-index:9999999">
        <span></span>
    </label>
    <!-- </div> -->
    <div class="col d-flex align-items-center justify-content-end">
        <div class="social-media">
            <p class="mb-0 d-flex">
                <ng-container *ngFor="let item of socialMedia">
                    <a [href]="item.link" target="_blank"
                        class="d-flex align-items-center justify-content-center">
                        <i class="fab" [ngClass]="item.icon"></i>
                    </a>
                </ng-container>
                <!-- <a href="javascript:void(0)" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
            <a href="javascript:void(0)" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
            <a href="javascript:void(0)" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
            <a href="javascript:void(0)" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a> -->
            </p>
        </div>
    </div>
    <ul class="menu__box">
        <div class="text-center mx-auto">
            <a class="navbar-brand" (click)="navigation = false;_LayoutService.toggleNav(navigation)" routerLink="/" ><img style="max-width:200px!important;min-width: 200px!important;" src="assets/icons/SVG/logoo.png" alt="logo show tv" title="logo show tv" loading="lazy" ></a>
        </div>
        <nav #stickyMenu class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
            id="ftco-navbar">
            <div class="container-fluid d-block">
                <div class="col-12 order-md-last">
                    <div class="row">
                        <div class="col-12 d-md-flex justify-content-end align-items-center mb-md-0 mb-3">
                            <form action="#" class="searchform order-lg-last">
                                <div class="form-group d-flex">
                                    <input type="text" (keyup.enter)="search(inputSearch.value)"
                                        class="form-control pl-3" placeholder="بحث ..." #inputSearch>
                                    <button type="button" (click)="search(inputSearch.value)"
                                        class="form-control search"><span class="fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav m-auto p-0 text-center">
                    <ng-container *ngFor="let cat of allCategories; let i = index">
                        <li class="nav-item active"><a [routerLink]="['/category/', cat.slug]" (click)="navigation = false;_LayoutService.toggleNav(navigation)"
                                routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}"
                                class="nav-link">{{cat.name}}</a></li>
                    </ng-container>
                </ul>
            </div>
        </nav>
    </ul>
</div>