.loading-spinner{    
    background-color: rgb(243, 243, 243);
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 130vh;
    align-items: center;
    justify-content: center;
    display: grid;
    opacity: 1;

}

.spinner-border{
    align-self: center;
}

.loading-message{
    text-align: center;
    align-self: start;
}
@media (max-width:900px) {
    .loading-spinner{    
      
        height: 65rem !important;
    }
}