// @import '../../../../../styles.scss';

// *
// {text-align:right;}
// footer{
//     background-color:$p1Color;
//     color:whitesmoke;
    
// }

footer
{
    background-color:#96225c;
    color:whitesmoke;
    
}
*
{text-align:right;}
.newsLink
{
    cursor: pointer;
}
.desc
{
    font-size:18px;
}
