/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import 'node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss';

@font-face {
  font-family: Cairo;
  font-display: swap;
  src: url("assets/fonts/Cairo-VariableFont_slnt,wght.ttf");
}

html,
body {
  height: 100%;
}

body {
  margin: 0;


}

*:not(i, .fa) {
  font-family: Cairo !important;
  letter-spacing: 1px;
  line-height: 1.7rem;
}

//  h1,h2,h3,h4,h5,h6{
//     font-family:Cairo;
//  }
$p1Color: #96225c;
$p2Color: #cbcbb3;

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

// @font-face {
//     font-family: "cairo";
//     src: local("cairo"), url(./assets/fonts/NotoSansArabic-Regular.ttf) format("truetype");
// }
* {
  // font-family: "cairo";
  font-weight: 400;
  // font-size:16px;
}

.content {
  font-size: 18px !important;
  // font-weight: 300 !important;
}

marquee {
  a {
    color: black !important;
  }
}

.boss {
  // max-width: max-content;
  text-align: center;

  h3 {
    color: #f00;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.three {
  position: relative;
}

.three h2 {
  color: #96225c;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;

  &:hover {
    color: #96225c;
  }
}

.three h2>a {
  color: #96225c;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;

  &:hover {
    color: #96225c;
  }
}

.three h2:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 4px;
  width: 70px;
  background-color: #96225c;
}

.three h2:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0px;
  height: 1px;
  width: 100%;
  transform: translateY(-50%);
  // background-color: #999;
}

.border-radius-6 {
  border-radius: 6px;
}

.card-title {
  color: #fff;
  font-weight: 800 !important;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  z-index: 99;
}

.radius-6 {
  overflow: hidden;
  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  .box-video {
    display: none;
  }

  /* .parent2{
     height: 50%;
     width: 100%;
    } */
}