<div *ngIf="!loaded">
  <app-loader></app-loader>
</div>
<div style="margin-top: 0px;" class="pw1" *ngIf="loaded">
  <div class="mx-5" style="background-color: white;">
    <div class="titel mt-2 p-2 " style="background-color: #4d4d4c; color:red;padding-right:20px;font-weight:bold;">
      تريندات</div>
    <div class="row ">

      <div class="col-lg-3 col-md-5 col-sm-12 col-12 mt-2">
        <div style="height: 400px;border: #96225c 2px solid;" class="text-center p-2">
          <h2>تواصل معنا لوضع اعلانك هنا</h2>

          <img src="../../../assets/temp-imgs/images.jpeg" width="255px" alt="" srcset="">
        </div>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-12 col-12">

        <div class="card-sl mt-3" *ngFor="let trend of trends">
          <div class="card-image" *ngIf="trend?.videos[0];else img" >
            <video controls>
              <source [src]="trend?.videos[0]?.video">
            </video>
          </div>
          <ng-template #img >
            <div class="card-image" >

              <img height="300px" width="750px" [src]="trend?.images[0]?.image" />
            </div>
          </ng-template>

          <a class="card-action">{{trend.created_at }}</a>
          <div class="card-heading me-4 mt-4" routerLink="/Trends/{{trend.slug}}/{{trend.id}}" style="cursor: pointer;">
            {{trend.title | maxLenght:140}}
          </div>
          <div class="card-text ms-3" routerLink="/Trends/{{trend.slug}}/{{trend.id}}" style="cursor: pointer;">
            {{trend.subtitle |maxLenght:170}}
          </div>


        </div>
        <div class="mt-3" style="direction: ltr;">
          <app-pagination [page]="page" [pageSize]="pageSize" [total]="total" (onChange)="changePage($event)"></app-pagination>


        </div>

      </div>
      <div class="col-lg-3 col-md-2 col-sm-12 col-12" *ngIf="!newsLoading">
        <div class="titel mt-2 p-2" style="background-color: #96225c; color: aliceblue;">
          أخبار لحظة بلحظة </div>
        <marquee class="news-scroll marquee" behavior="scroll" direction="up" Scrollamount=3 onbounce="4"
          onmouseover="this.stop();" onmouseout="this.start();">
          <div *ngFor="let item of last_news" style="margin-bottom: 50px;">
            <a href="" routerLink="/News/{{item.slug}}">
              <p style="color: black;">
                {{item.title}}
              </p>
              <!-- <small class="text-muted">date </small> -->
            </a>


          </div>

        </marquee>
        <!-- <div class="marquee">
                <div class="scrolling" *ngFor="let item of last_news;let i=index">
                    <p>{{i}}</p>
                      <small class="text-muted">date </small>
                  </div>
                 
              </div> -->
        <!-- <p class="marquee">
                <span>this is a</span>
                <span>simple marquee</span>
                <span>using css</span>
                <span>only tech</span>
                <span>with a delay</span>
              </p> -->
        <!-- <ng-marquee direction="left" >
                <div>Hello, World.... Find Me @ <a href="https://www.linkedin.com/in/shivarajnaidu/" target="__blank"> https://www.linkedin.com/in/shivarajnaidu/ (Yuvaraj)</a></div>
            </ng-marquee> -->

        <div class="titel mt-2 p-2" style="background-color: #96225c; color: aliceblue;">الاكثر قراءة</div>

        <div *ngFor="let article of more_articles_Read">
          <h3 class="p-2 mt-2 " style="background-color: darkgray;cursor: pointer;" routerLink="/News/{{article.slug}}">
            {{article.title}}
          </h3>
        </div>

      </div>
    </div>
  
  </div>

</div>

